# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Data (optional — dataset usually not uploaded)
data/

# Large model files (optional)
*.h5
*.pt