# Virtual Environment
venv/
.venv/
env/
bin/
lib/
include/

# Python Caching
__pycache__/
*.py[cod]
*$py.class

# System Files
.DS_Store
Thumbs.db

# IDE Settings
.vscode/
.idea/

# Streamlit Local State
.streamlit/

# --- IMPORTANT FOR YOUR MODELS ---
# We want to make sure your .pkl files ARE NOT ignored 
# so Streamlit Cloud can find them
!models/*.pkl
!models/rf_rul_model.pkl
!models/scaler.pkl

# Ignore large datasets but keep the models
data/*
!data/.gitkeep